.signup {
    display: block;
    width: 100%;
    max-width: 40.0rem;
    margin: 4rem auto 6rem;
    border: 1px solid black;

    .wrap {
        padding: 10px;

        h2 {
            font-size: 2.2rem;
            line-height: 1;
            font-weight: 400;
            text-transform: uppercase; 
            text-align: center;
            display: block;
            width: 100%;
            padding: 0;
            margin: 0 auto;
        }
        
     .formWrap {
         margin: 3rem;

     }
  }
}

// Adds padding between Personal Signup form & "Already have an account..."
.add-space {
    padding-top: 2rem;
}

// "Already have an account..." Login link styling
.login-link {
    background-color: black;
    color: white;
    padding: .8rem;
    margin-left: 1rem;
    border-radius: 5%;
}

// "Already have an account..." Login link styling on mouse hover
.login-link:hover {
    text-decoration: none;
    color: rgb(49, 49, 49);
}
