body {
    text-align: center;
    background-image: 'https://unsplash.com/photos/Yi9-QIObQ1o';
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}
