img {
    display: block;
    width: 100%;
    opacity: 1.0;
  }

  img:hover {
    opacity: .8;
  }

//   .background{
// vertical-align: top;
// display: inline-block;
// text-align: center;
// width: 120px;

// }
// .box {

//  display: block;
// }