// For dropdown on hover, implement this styling -->
// /* Navbar container */
// .navbar {
//   padding-top: 15px;
//   margin-top: 15px;
//   overflow: hidden;
//   background-color: white;
//   font-family: Arial;
// }

// /* Links inside the navbar */
// .navbar a {
//   float: left;
//   font-size: 16px;
//   color: black;
//   text-align: center;
//   padding: 14px 16px;
//   text-decoration: none;
// }

// /* The dropdown container */
// .dropdown {
//   float: left;
//   overflow: hidden;
// }

// /* Dropdown button */
// .dropdown .dropbtn {
//   font-size: 16px;
//   border: none;
//   outline: none;
//   color: black;
//   padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit; /* Important for vertical align on mobile phones */
//   margin: 0; /* Important for vertical align on mobile phones */
// }

// /* Add a red background color to navbar links on hover */
// .navbar a:hover, .dropdown:hover .dropbtn {
//   background-color: wheat;
// }

// /* Dropdown content (hidden by default) */
// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }

// /* Links inside the dropdown */
// .dropdown-content a {
//   float: none;
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
//   text-align: left;
// }

// /* Add a grey background color to dropdown links on hover */
// .dropdown-content a:hover {
//   background-color: #ddd;
// }

// /* Show the dropdown menu on hover */
// .dropdown:hover .dropdown-content {
//   display: block;
// }
// <-- end of dropdown on hover scss

.header {
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 6.5rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    background-color: white; 
  
    .wrap {
      position: relative;
      height: 100%;
      max-width: 1450px;
      margin: 0 auto;

  
      .logo {
        
        width: 16.0rem;
        position: absolute;
        top: 50%; left: 16px; 
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%); 
  
        img {
          display: block;
          width: 100%;
          margin: 0;
        }
      }
  
      nav {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

  
        ul, ul li {
          padding: 0;
          margin: 0;
          height: 100%;
        }

        ul {
          text-align: center;
  
          li {
            display: inline-block;
            margin: 0 1rem;
            list-style-type: none;
  
            a {
              font-size: 1.8rem;
              line-height: 6.5rem;
              vertical-align: middle;
              color: black;
              text-decoration: none;
              text-transform: uppercase;
              cursor: pointer;
            }
          }
        }
      }
  
      .callToActions {
        position: absolute;
        top: 50%; right: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
  
        ul, li {
          margin: 0;
          padding: 0;
        }
  
        li {
          display: inline-block;
          list-style-type: none;
          margin-right: 1.5rem;
  
          &:last-child {
            margin-right: 0;
          }
  
          a, span {
            font-size: 2.0rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            line-height: 1;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
          }
  
        }
  
      }
  
    }
  
  }

  
